<div class="new-event">
<h1>Create a new event note</h1><br>

<div class="new-event-box"><form action='/notes' method='POST'>
    <label>Name</label>
    <input type="text" name="notes[event_name]"><br>
   
    <label>Notes</label><br>
    <textarea name="notes[entry]" value="" rows="20" cols="60"></textarea> <br>

    <div class="event_buttons">
    <button class="eventbutton eventbutton2" type="submit" value="Create Note">Create Note</button>
    </div>
</form></div>
</div>
