
<div class="login">
    <form action="/login" method="post"> 
        Username: <input class="username-login" type="text" name="username"><br><br>
        Password: <input class="username-login" type="password" name="password"><br><br>
        <div class="button-login"><input type="submit" value="Log In"></div>
    </form><br>
    <p><%=@error%></p>
</div>