
<div class="main-column">
<!-- <div class="test">TEST</div>
<div class="space">SPACE</div> -->
<div class="uploads_content">
  <h1>Upload media</h1><br>
  <form action="/uploads" method="post">
    <input type="file" id="file" name="upload[:entry]" accept="file_extension|audio/*|video/*|image/*">
    <input type="submit">
  </form>
  </div>
  </div>
  </div>

<br><br><%@uploads.each do |upload_file|%>
  <%if current_user.id == upload_file.user_id%>
  <%=upload_file.entry%>
  <!-- Delete -->
    <form action="/uploads/<%=upload_file.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form><hr><br><br>
   <%end%>
  <%end%>
