
<div class="main-column">
<!-- <div class="test">TEST</div>
<div class="space">SPACE</div> -->
<div class="uploads_content">
  <h1>Upload media</h1><br>
  <form action="/uploads" method="post">
    <input type="file" id="file" name="upload[:entry]" accept="file_extension|audio/*|video/*|image/*">
    <input type="submit">
  </form>
  </div>
  </div>
  </div>

<%@uploads.each do |upload_file|%>
  <%if current_user.id == upload_file.user_id%>
  <%=upload_file.entry%>
  <!-- Delete -->
    <form action="/uploads/<%=upload_file.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form><hr><br>
   <%end%>
  <%end%>


<div class="sidebar-buttons">
<!-- New event-->
<form action="/events/new" method="get">
    <input type="hidden" name="_method">
    <button class="button button2" type="submit">New Event</button>
</form>

<!-- Show all events-->
<form action="/events" method="get">
    <input type="hidden" name="_method">
    <button class="button button2" type="submit">All Events</button>
</form>

<!-- New note-->
<form action="/notes/new" method="get">
    <input type="hidden" name="_method">
    <button class="button button2" type="submit">Take Note</button>
</form>

<!-- Show all notes -->
<form action="/notes" method="get">
    <input type="hidden" name="_method">
    <button class="button button2" type="submit">View Notes</button>
</form>
</div><!--sidebar_buttons-->

<!--Calendar Image-->
<div class="cal_image">
<img src="images/jan_2020.png" alt="January 2020" style="width:230px;height:160px">
</div><!--Calendar Image-->
</div><!--sidebar_column-->