<div class="new-event">
<div><h1>Create a new event</h1></div>

<div class="new-event-box"><form action='/events' method='POST'>
    <label>Category</label>
    <select name="event[category]">
        <option value="Home">Home</option>
        <option value="Work">Work</option>
        <option value="Personal">Personal</option>
        <option value="Other" >Other</option>
    </select><br>
    <label>Name</label>
    <input type="text" name="event[event_name]"><br>
    <label>Start Date</label>
    <input type="date" name="event[event_start_date]"><br>
    <label>End Date</label>
    <input type="date" name="event[event_end_date]"><br>
    <label>Start Time</label>
    <input type="time" name="event[event_start_time]"><br>
    <label>End Time</label>
    <input type="time" name="event[event_end_time]"><br>
    <label>Location</label>
    <input type="text" name="event[event_location]"><br>
    <label>Reminder 1</label>
        <select name="event[event_reminder1]">
            <option value=0 selected="At time">at time</option>
            <option value=300 selected="5 mins before">5 mins before</option>
            <option value=900 selected="15 mins before">15 mins before</option>
            <option value=1800 selected="30 mins before">30 mins before</option>
            <option value=3600 selected="1 hour before">1 hour before</option>
            <option value=7200 selected="2 hours before">2 hours before</option>
            <option value=21600 selected="6 hours before">6 hours before</option>
            <option value=43200 selected="12 hours before">12 hours before</option>
            <option value=86400 selected="1 day before">1 day before</option>
            <option selected="none">none</option>
        </select><br>
    <label>Reminder 2</label>
        <select name="event[event_reminder2]">
        <option selected="none">none</option>
        <option value=0 selected="At time">at time</option>
        <option value=300 selected="5 mins before">5 mins before</option>
        <option value=900 selected="15 mins before">15 mins before</option>
        <option value=1800 selected="30 mins before">30 mins before</option>
        <option value=3600 selected="1 hour before">1 hour before</option>
        <option value=7200 selected="2 hours before">2 hours before</option>
        <option value=21600 selected="6 hours before">6 hours before</option>
        <option value=43200 selected="12 hours before">12 hours before</option>
        <option value=86400 selected="1 day before">1 day before</option>
        </select><br>
    
    <label>Notes</label><br>
    <textarea name="notes[entry]" rows="10" cols="30"></textarea><br>
    <div class="event_buttons">
    <button class="eventbutton eventbutton2" type="submit" value="Create Event">Create Event</button>
    </div>
</form></div>
</div>